<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Storage</title>
</head>
<body>
   <div class="container">
    <div class="menu">
        <button class="add_author">Dodaj Authora</button>
        <button class="add_book">Dodaj Ksiażkę</button>
    </div>
        <div class="storage">
            <table class="table_books">
                <tr><th>Tytuł</th><th>Imię</th><th>Nazwisko</th></tr>
                {% for data in data_book%}
                <tr><td>{{data[0]}}</td><td>{{data[1]}}</td><td>{{data[2]}}</td></tr>
                {%endfor%}
                </table>
        </div>
   </div>
</body>
</html>